@import "tailwindcss";
/* smooth scrolling */
html {
  scroll-behavior: smooth;
}
/* Add this to the end of your file */
@keyframes subtle-blob {
  0%, 100% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(40px, -60px) scale(1.1);
  }
  50% {
    transform: translate(-30px, 50px) scale(0.9);
  }
  75% {
    transform: translate(20px, -30px) scale(1.05);
  }
}

.animate-subtle-blob {
  animation: subtle-blob 20s infinite;
}
.font-crazy {
  font-family: 'Bungee', sans-serif;
}
body {
  font-family: 'Manrope', sans-serif;
}